
.icon-forward:before { content: '\e80b'; } /* '' */
.icon-back:before { content: '\e80c'; } /* '' */
.icon-bag:before { content: '\ea01'; } /* '' */
.icon-briefcase:before { content: '\ea02'; } /* '' */
.icon-calendar:before { content: '\ea03'; } /* '' */
.icon-camera:before { content: '\ea04'; } /* '' */
.icon-check-circle:before { content: '\ea05'; } /* '' */
.icon-compass:before { content: '\ea06'; } /* '' */
.icon-eye:before { content: '\ea07'; } /* '' */
.icon-single:before { content: '\ea08'; } /* '' */
.icon-square-upload:before { content: '\ea09'; } /* '' */
.icon-trash-simple:before { content: '\ea0a'; } /* '' */
.icon-zoom:before { content: '\ea0b'; } /* '' */